<h1>Editing search bar</h1>

<%= render "form", search_bar: @search_bar %>

<br>

<div>
  <%= link_to "Show this search bar", @search_bar %> |
  <%= link_to "Back to search bars", search_bars_path %>
</div>
