

<div class="header-search">
    <div class="content-1330 center-relative">
        <form class="search-form">
            <label>
                <input type="search" class="search-field" placeholder="Search ..." value="" name="s" title="Search for:">
            </label>
        </form>
    </div>
</div>


<div class="body-wrapper">
<div class="content-1330 header-holder center-relative">
    <div class="header-logo center">
      <h1 class="site-title"> The Watcher</h1>
    </div>
    <div class="header-menu center">
        <nav id="header-main-menu">
            <ul class="main-menu sm sm-clean">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#faq">FAQ</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header-actions">
        <div class="toggle-holder left">
            <div id="toggle">
                <a class="search-btn">Search</a>
            </div>
        </div>
        <div class="session-links right">
            <div>
                <a href="/users/sign_in" target=_blank>Log In</a>
            </div>
            <div>
                <a href="/users/sign_up" target=_blank>Sign Up</a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>


    <div id="content" class="site-content">
        <article>
            <div class="content-1330 center-relative">
                <div class="page-desc">
                  Welcome to "The Watcher" blog, where your voice matters! We are a platform dedicated to bringing you the latest news, opinions, and analysis on the hottest topics from around the world.
                </div>
                <div class="clear"></div>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <div class="blog-holder block center-relative content-1330">
                    <%= render 'shared/users_articles' %>
                    <div class="post-border center-relative block"></div>
                </div>

                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <div class="one_half" id="about">
                    <strong>About us</strong>
                    <br>
                      "The Watcher" is a blog that covers a wide range of topics, including news, politics, and other current events. Our team of writers is dedicated to providing insightful and thought-provoking content that helps readers stay informed and engaged with the world around them.
                    <p>&nbsp;</p>
                    <p>
                      Whether you're looking for analysis of the latest breaking news, in-depth coverage of political developments, or commentary on social issues, "The Watcher" has you covered. Our goal is to provide a platform for meaningful discussion and critical thinking, and we invite readers to join the conversation through comments and social media.
                    </p>
                </div>
                <div class="one_half last" id="faq">
                    <strong>FAQ</strong>
                    <br>
                      Q: What topics does "The Watcher" cover?
                      A: "The Watcher" covers a wide range of topics including news, politics, and hot topics. We strive to bring our readers the latest and most relevant stories from around the world.
                    <p>&nbsp;</p>
                    <p>
                      Q: Can I submit a story idea to "The Watcher"?
                      A: Yes, we welcome story ideas and suggestions from our readers. Please use the contact form on our website to submit your idea, and we will consider it for publication.
                    </p>
                    <p>&nbsp;</p>
                    <div class="text-left">
                        <a href="/" target="_self" class="button">More…</a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </article>
    </div>

    <!--Footer-->

    <footer class="footer">
        <div class="content-1330 center-relative">
            <ul>
                <li class="left-footer-content">
                    © 2018 Sun HTML Template. Crafted with <i class="fa fa-heart"></i> by <a href="http://drythemes.com">DryThemes</a>.
                </li>
                <li class="center-footer-content">
                </li>
                <li class="right-footer-contnet" id="contact">
                    <a href="https://github.com/santiagodays">Github</a>
                    <a href="https://www.linkedin.com/in/diazsant/">LinkedIn</a>
                </li>
                <li class="left-footer-content mobile">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy; All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </li>
            </ul>
        </div>
    </footer>

    <!-- End .body-border -->
</div>


